{% extends "base.html" %}

{% block content %}

{% if user %}
    <div class="container">
        <h1 class="title">Welcome, {{ user.username }}</h1>  <!-- Access username through user object -->
        <p class="subtitle">You are now logged in.</p>
        <a href="/logout" class="button is-danger">Logout</a>
    </div>
{% else %}
    <div class="container">
        <p>You have not managed to log in. Please click here to <a href="/admin/" class="button is-danger">Login</a>.</p>
    </div>
{% endif %}

{% endblock %}
