<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplemde@1.11.0/dist/simplemde.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/simplemde@1.11.0/dist/simplemde.min.js"></script>
    <title>Admin Dashboard</title>
</head>
<body>
    <section class="section">
           <div class="container">
               <h1 class="title">Admin Dashboard</h1>
               <h2 class="subtitle">Manage Products, Orders, and Blog Posts</h2>
               <div>
                   <h3 class="title is-4">Products</h3>
                   <a href="/products" class="button is-primary">View Products</a>
                   <h3 class="title is-4">Blog Posts</h3>
                   <a href="/blog" class="button is-primary">View Blog Posts</a>
               </div>
           </div>
       </section>
    <script src="/static/js/admin.js"></script>
</body>
</html>
