{# footer.html #}
<footer class="footer">
    <div class="content has-text-centered">
        <p>© {{ now() | date(format="%Y") }} {{ config.title }}. All rights reserved.</p>
        <div class="social-icons">
            {% if config.extra.social_instagram %}
            <a href="{{ config.extra.social_instagram }}" class="icon has-text-pink" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
            {% endif %}
            {% if config.extra.social_youtube %}
            <a href="{{ config.extra.social_youtube }}" class="icon has-text-danger" aria-label="YouTube">
                <i class="fab fa-youtube"></i>
            </a>
            {% endif %}
            {% if config.extra.social_twitter %}
            <a href="{{ config.extra.social_twitter }}" class="icon has-text-info" aria-label="Twitter">
                <i class="fab fa-twitter"></i>
            </a>
            {% endif %}
            {% if config.extra.social_facebook %}
            <a href="{{ config.extra.social_facebook }}" class="icon has-text-blue" aria-label="Facebook">
                <i class="fab fa-facebook"></i>
            </a>
            {% endif %}
        </div>
    </div>
</footer>
